/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-kw {
  width: 60%;
  margin-top: 10px;

 margin-left: 2rem !important;
 color: #e6e6e6;
 font-size:1.5em !important;
}


.btn-kw {
  
  margin-bottom: 5px;
  margin-right: 10px;
  
}

.navbar {
  margin: 1%;
}

#footballers-view {
  /* margin-top: 2.5%; */
  margin: 1%;
  /* margin-left: 1%; */
}

/* #gif-view {
  display:inline-block;
} */


.gif {
  display:inline-block;
  width:325px;
  height:300px;
  margin:1%;
  overflow:hidden;
  border: thin solid #353a40;
  background-color:#353a40;
  
}

.gif-size {
  
  min-width:100%;
  min-height:100%;
  
}
.gif-heading {
  
  text-align:center;
  color: #e6e6e6;
  margin-top: 3%;
  
  
}

.background-img {
  /* background: url(../images/soccer_field.png); */

}

